<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Uthabiti Africa | Add Caregiver</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Top script start -->
      <%- include('../partials/top_script'); %>
    <!-- / Top script end -->
</head>

<body>
    <!-- Side bar -->
     <%- include('../partials/portal_sidebar'); %>
     <!-- / Side bar -->

    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="/portal/dashboard"><img class="main-logo" src="/img/logo/logo.png" height="30px" width="80px" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <!-- Header top start -->
             <%- include('../partials/header_top'); %>
            <!-- / Header top end -->
            <!-- Mobile Menu start -->
            <%- include('../partials/mobile_menu'); %>
            <!-- Mobile Menu end -->
        </div>
        <div class="section-admin container-fluid mg-t-30" style="margin-top: 60px;">
            <div class="row admin">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hpanel">
                                <div class="main-sparkline10-hd">
                                    <h1>Add Caregiver Details</h1>
                                </div>
                                <div class="panel-body">
                                    <form action="#" id="loginForm">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="product-cart-inner">
                                                    <div id="example-basic">
                                                        <h3>Basic Details</h3>
                                                        <section>
                                                            <div class="product-delivary">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">First Name *</label>
                                                                            <input name="phoneNumber" type="text"
                                                                                class="form-control" placeholder="First Name"
                                                                                required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Middle Name *</label>
                                                                            <input name="phoneNumber" type="text"
                                                                                class="form-control" placeholder="Middle Name"
                                                                                required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Last Name *</label>
                                                                            <input name="phoneNumber" type="text"
                                                                                class="form-control" placeholder="Last Name"
                                                                                required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">ID Number
                                                                                *</label>
                                                                            <input name="idNumber" type="text"
                                                                                placeholder="B. cert No" class="form-control"
                                                                                required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Date of Birth *</label>
                                                                            <input name="dob" type="date" class="form-control"
                                                                                required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Gender *</label>
                                                                            <select class="form-control required" name="gender"
                                                                                required>
                                                                                <option value="">- select gender -</option>
                                                                                <option value="Male">Male</option>
                                                                                <option value="Female">Female</option>
                                                                                <option value="Intersex">Intersex</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Disability *</label>
                                                                            <select class="form-control required" name="disability"
                                                                                required>
                                                                                <option value="">- select status -</option>
                                                                                <option value="No">None</option>
                                                                                <option value="Physical">Physical Impairement</option>
                                                                                <option value="Hearing">Hearing Impairement</option>
                                                                                <option value="Visual">Visual Impairement</option>
                                                                                <option value="Intellectual">Intellectual Impairement</option>
                                                                                <option value="Chronic Progressive Condition">Chronic Progressive Condition</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Marital Status *</label>
                                                                            <select class="form-control required" name="marital_status" required>
                                                                                <option value="">- select status -</option>
                                                                                <option value="Single">Single</option>
                                                                                <option value="Married">Married</option>
                                                                                <option value="Divorced">Divorced</option>
                                                                                <option value="Widowed">Widowed</option>
                                                                                <option value="Separated">Separated</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Phone Number *</label>
                                                                            <input name="phoneNumber" type="number" class="form-control" placeholder="e.g 07XXXXXXXX" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Physical Address *</label>
                                                                            <input name="physicalAddress" type="text" class="form-control" placeholder="e.g Area, Town, Centre" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Copy of National ID
                                                                                *</label>
                                                                            <input name="facilityAddress" type="file" class="form-control">
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </section>
                                                        <h3>Next of Kin Details</h3>
                                                        <section>
                                                            <div class="product-delivary">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Next of Kin Full Name
                                                                                *</label>
                                                                            <input name="fullName" type="text" class="form-control"
                                                                                placeholder="Fullname" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Relationship to Kin</label>
                                                                            <select class="form-control required">
                                                                                <option value="">- select -</option>
                                                                                <option value="Father">Father</option>
                                                                                <option value="Mother">Mother</option>
                                                                                <option value="Sibling">Sibling</option>
                                                                                <option value="Guardian">Guardian</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Phone *</label>
                                                                            <input name="kinPhone" type="text" class="form-control"
                                                                                placeholder="e.g 07XXXXXXXX" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Physical Address *</label>
                                                                            <input name="fullName" type="text" class="form-control"
                                                                                placeholder="e.g Area, Town" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        <h3>Education & Background </h3>
                                                        <section>
                                                            <div class="product-delivary">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Education Level *</label>
                                                                            <select class="form-control required" name="educationLevel" required>
                                                                                <option value="">- select -</option>
                                                                                <option value="None">No Formal Education</option>
                                                                                <option value="Primary Incomplete">Primary
                                                                                    Incomplete</option>
                                                                                <option value="Primary Complete">Primary Complete
                                                                                    (KCPE or equivalent)</option>
                                                                                <option value="Secondary Incomplete">Secondary
                                                                                    Incomplete</option>
                                                                                <option value="Secondary Complete">Secondary
                                                                                    Complete (KCSE or equivalent)</option>
                                                                                <option value="Certificate">Certificate / Artisan
                                                                                    Course</option>
                                                                                <option value="Diploma">Diploma</option>
                                                                                <option value="Bachelors">Bachelor’s Degree</option>
                                                                                <option value="Masters">Master’s Degree</option>
                                                                                <option value="PHD">Doctorate (PhD / equivalent)
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <div class="chosen-select-single">
                                                                            <label>Languages *</label>
                                                                                <select data-placeholder="Choose language" class="chosen-select" multiple="" tabindex="-1">
                                                                                    <option value="">Select</option>
                                                                                    <option value="English">English</option>
                                                                                    <option value="Kiswahili">Kiswahili</option>
                                                                                    <option value="French">French</option>
                                                                                    <option value="German">German</option>
                                                                                    <option value="Other">Other</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Years of Caregiving Experience *</label>
                                                                            <input name="experience_years" type="number" min="0" class="form-control" placeholder="e.g., 5" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Relevant Certification *</label>
                                                                            <select class="form-control required" name="certification" required>
                                                                                <option value="">- select -</option>
                                                                                <option value="Nursing">Nursing</option>
                                                                                <option value="Social Work">Social Work</option>
                                                                                <option value="Counseling">Counseling</option>
                                                                                <option value="First Aid">First Aid / CPR</option>
                                                                                <option value="Other">Other</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Communication Skills *</label>
                                                                            <select class="form-control required" name="communication_skills" required>
                                                                                <option value="">- rate -</option>
                                                                                <option value="Excellent">Excellent</option>
                                                                                <option value="Good">Good</option>
                                                                                <option value="Fair">Fair</option>
                                                                                <option value="Poor">Poor</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Physical Care Skills *</label>
                                                                            <select class="form-control required" name="physical_care_skills" required>
                                                                                <option value="">- rate -</option>
                                                                                <option value="Excellent">Excellent</option>
                                                                                <option value="Good">Good</option>
                                                                                <option value="Fair">Fair</option>
                                                                                <option value="Poor">Poor</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Availability *</label>
                                                                            <select class="form-control required" name="availability" required>
                                                                                <option value="">- select -</option>
                                                                                <option value="Full-time">Full-time</option>
                                                                                <option value="Part-time">Part-time</option>
                                                                                <option value="Shift">Shift Basis</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Medical Clearance *</label>
                                                                            <select class="form-control required" name="medical_clearance" required>
                                                                                <option value="">- select -</option>
                                                                                <option value="Cleared">Cleared</option>
                                                                                <option value="Pending">Pending</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="form-group">
                                                                            <label class="form-label">Criminal Background Record *</label>
                                                                            <select class="form-control required" name="criminal_record" required>
                                                                                <option value="">- select -</option>
                                                                                <option value="No">No</option>
                                                                                <option value="Yes">Yes</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12  text-center">
                                                                        <button class="btn btn-success loginbtn">Submit Details</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Bottom script start -->
  <%- include('../partials/bottom_script'); %>
<!-- / Bottom script end -->
</body>
</html>
