<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Uthabiti Africa | Users</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Top script start -->
    <%- include('../partials/top_script'); %>
        <!-- / Top script end -->
</head>

<body>
    <!-- Side bar -->
    <%- include('../partials/portal_sidebar'); %>
        <!-- / Side bar -->

        <!-- Start Welcome area -->
        <div class="all-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo-pro">
                            <a href="/portal/dashboard"><img class="main-logo" src="/img/logo/logo.png" height="30px"
                                    width="80px" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-advance-area">
                <!-- Header top start -->
                <%- include('../partials/header_top'); %>
                    <!-- / Header top end -->
                    <!-- Mobile Menu start -->
                    <%- include('../partials/mobile_menu'); %>
                        <!-- Mobile Menu end -->
            </div>
            <div class="section-admin container-fluid res-mg-t-15 mg-t-30" style="margin-top: 60px;">
                <div class="row admin">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="sparkline10-list mt-b-30">
                                    <div class="sparkline10-hd">
                                        <div class="main-sparkline10-hd">
                                            <h1>Users</h1>
                                        </div>
                                        <form method="GET" id="filterForm">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="text-center p-xs font-normal">
                                                        <div class="input-group">
                                                            <input type="text" name="search" class="form-control input-sm" placeholder="Search fullname or email..."> 
                                                            <span class="input-group-btn"> 
                                                                <button type="button" class="btn btn-sm btn-danger" onclick="this.form.submit()">Search
                                                                </button> 
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <a href="javascript:;">
                                                        <b><span class="pull-left">
                                                            
                                                        </span></b>
                                                    </a>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <select class="form-control required input-sm" name="limit" onchange="this.form.submit()">
                                                            <option value="">Show: 10</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <select class="form-control required input-sm" name="county" onchange="this.form.submit()">
                                                            <option value="">- role -</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-2">
                                                    <div class="btn-group">
                                                        <a href="/portal/users" class="btn btn-danger btn-sm"><i class="fa fa-refresh"></i></a>
                                                        <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#addUserModal"><i class="fa fa-plus"></i> Add</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="sparkline13-graph">
                                        <div class="datatable-dashv1-list custom-datatable-overright table-responsive">
                                            <table class="table table-bordered table-striped table-small">
                                                <thead>
                                                <tr class="bg-red text-white">
                                                    <th>#</th>
                                                    <th>Full Name</th>
                                                    <th>Email</th>
                                                    <th>ID No</th>
                                                    <th>Role</th>
                                                    <th>Status</th>
                                                    <th>Last Login</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <% users.forEach((user, i) => { %>
                                                    <tr>
                                                        <td><%= i + 1 %></td>
                                                        <td><%= user.fullname %></td>
                                                        <td><%= user.email %></td>
                                                        <td><%= user.idNumber || '-' %></td>
                                                        <td><%= user.role %></td>
                                                        <td><%= user.status %></td>
                                                        <td><%= user.last_login ? user.last_login.toLocaleString() : '-' %></td>
                                                        <td>
                                                            <form action="/portal/get-user-details" method="POST">
                                                                <input type="hidden" name="userId" value="<%= user.user_id %>" required>
                                                                <button class="btn btn-custon-three btn-default btn-xs"><i class="fa fa-ellipsis-h"></i></button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                                </tbody>
                                            </table>
                                            <!-- Pagination -->
                                            <div class="custom-pagination">
                                                <nav aria-label="Page navigation">
                                                    
                                                </nav>
                                            </div>
                                            <!-- / Pagination -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals -->

        <!-- Add User Modal -->
        <div id="addUserModal" class="modal FullColor-popup-AlertModal fade">
            <div class="modal-dialog modal-lg">
                <form method="POST" action="/portal/add-users">
                    <div class="modal-content">
                        <div class="modal-header header-color-modal bg-color-4">
                            <h4 class="modal-title">Add New User</h4>
                            <div class="modal-close-area modal-close-df">
                                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Full Name</label>
                                        <input type="text" name="fullName" placeholder="Full Name" class="form-control required" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" name="email" placeholder="Email Address" class="form-control required" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">ID Number</label>
                                        <input type="number" name="idNumber" placeholder="National ID" class="form-control required" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Role</label>
                                        <select name="role" class="form-control" required>
                                            <option value="Admin">Admin</option>
                                            <option value="Data Clerk">Data Clerk</option>
                                            <option value="Viewer">Viewer</option>
                                            <option value="Champion">Champion</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        
<!-- Bottom script start -->
<%- include('../partials/bottom_script'); %>
<!-- / Bottom script end -->

</body>
</html>