<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Uthabiti Africa | My Facility</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Top script start -->
    <%- include('../partials/top_script'); %>
        <!-- / Top script end -->
</head>

<body>
    <!-- Side bar -->
    <%- include('../partials/portal_sidebar'); %>
        <!-- / Side bar -->

        <!-- Start Welcome area -->
        <div class="all-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo-pro">
                            <a href="/member/my-dashboard"><img class="main-logo" src="/img/logo/logo.png" height="30px"
                                    width="80px" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-advance-area">
                <!-- Header top start -->
                <%- include('../partials/header_top'); %>
                    <!-- / Header top end -->
                    <!-- Mobile Menu start -->
                    <%- include('../partials/mobile_menu'); %>
                        <!-- Mobile Menu end -->
            </div>
            <div class="section-admin container-fluid res-mg-t-15" style="margin-top: 60px;">
                <div class="row admin">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="sparkline10-list mt-b-30">
                                    <div class="sparkline10-hd">
                                        <div class="main-sparkline10-hd">
                                            <h1>My Facilities</h1>
                                        </div>
                                        <form method="GET" id="filterForm">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="text-center p-xs font-normal">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control input-sm" name="search" placeholder="Search facility, member no..." value="<%= search || '' %>"> 
                                                            <span class="input-group-btn"> 
                                                                <button type="button" class="btn btn-sm btn-default" onclick="this.form.submit()">Search</button> 
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 ">
                                                    <a href="javascript:;">
                                                        <b><span class="pull-left"><%= parseFloat(total).toLocaleString(undefined, {minimumFractionDigits:0, maximumFractionDigits:0}); %> Facilities</span></b>
                                                    </a>
                                                </div>
                                                <div class="col-md-1">
                                                  <div class="btn-group btn-custom-groups btn-custom-groups-one btn-mg-b-10">
                                                    <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown"><i class="fa fa-gears adminpro-home-admin" aria-hidden="true"></i> Actions <i class="fa fa-angle-down"></i></button>
                                                        <ul class="dropdown-menu btn-dropdown-menu" role="menu">
                                                            <li>
                                                              <a href="/member/my-facility"><i class="fa fa-refresh"></i> Refresh</a>
                                                            </li>
                                                            <li>
                                                              <a  data-toggle="modal" data-target="#exportFacilityModal"><i class="fa fa-cloud-download"></i> Export Data</a>
                                                            </li>
                                                            <li>
                                                              <a data-toggle="modal" data-target="#addFacilityModal"><i class="fa fa-building"></i> Add Facility</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <select class="form-control required input-sm" name="limit" onchange="this.form.submit()">
                                                            <option value="">Show: 50</option>
                                                            <% perPageOptions.forEach(opt => { %>
                                                                <option value="<%= opt %>" <%= perPage === opt ? "selected" : "" %>><%= opt %></option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <% const countyArray = Array.isArray(county) 
                                                        ? county 
                                                        : county ? [county] : [];
                                                    const multipleCounty = countyArray.length > 1;
                                                %>
                                                <% if (!multipleCounty) { %>
                                                <div class="col-md-2">
                                                <% } else { %>
                                                <div class="col-md-4">
                                                <% } %>
                                                    <% if (!subcounty && !ward) { %>
                                                    <div class="form-group">
                                                        <select data-placeholder="- county -" class="form-control required input-sm chosen-select" name="county" onchange="this.form.submit()" multiple size="5">
                                                            <option value="">- county -</option>
                                                            <% counties.forEach(c => { %>
                                                            <option value="<%= c %>" <%= countyArray.includes(c) ? 'selected' : '' %>><%= c %></option>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                    <% } else { %>
                                                    <div class="form-group">
                                                        <select class="form-control required input-sm" name="county" onchange="this.form.submit()">
                                                            <option value="">- county -</option>
                                                            <% counties.forEach(c => { %>
                                                            <option value="<%= c %>" <%= countyArray.includes(c) ? 'selected' : '' %>><%= c %></option>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                    <% } %>
                                                </div>

                                                <% if (!multipleCounty) { %>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <select class="form-control required input-sm" name="subcounty" onchange="this.form.submit()">
                                                            <option value="">- sub-county -</option>
                                                            <% subcounties.forEach(s => { %>
                                                                <option value="<%= s %>" <%= subcounty === s ? "selected" : "" %>><%= s %></option>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <% } %>
                                                <% if (!multipleCounty) { %>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <select class="form-control required input-sm" name="ward" onchange="this.form.submit()">
                                                            <option value="">- ward -</option>
                                                            <% wards.forEach(w => { %>
                                                                <option value="<%= w %>" <%= ward === w ? "selected" : "" %>><%= w %></option>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <% } %>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <select class="form-control required input-sm" name="status" onchange="this.form.submit()">
                                                            <option value="">- status -</option>
                                                            <% statusOptions.forEach(st => { %>
                                                                <option value="<%= st %>" <%= status === st ? "selected" : "" %>><%= st %></option>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <select class="form-control required input-sm" name="type" onchange="this.form.submit()">
                                                            <option value="">- type -</option>
                                                            <% typeOptions.forEach(tp => { %>
                                                                <option value="<%= tp %>" <%= type === tp ? "selected" : "" %>><%= tp %></option>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <select class="form-control required" name="sortBy" onchange="this.form.submit()">
                                                            <option value="">Sort By:</option>
                                                            <option value="reg_date" <%= sortBy==='reg_date' ? 'selected' : '' %>>Sort by Reg Date</option>
                                                            <option value="beneficiaries_high" <%= sortBy==='beneficiaries_high' ? 'selected' : '' %>>Sort by More Children</option>
                                                            <option value="beneficiaries_low" <%= sortBy==='beneficiaries_low' ? 'selected' : '' %>>Sort by Less Children</option>
                                                            <option value="caregivers_high" <%= sortBy==='caregivers_high' ? 'selected' : '' %>>Sort by More Workers</option>
                                                            <option value="caregivers_low" <%= sortBy==='caregivers_low' ? 'selected' : '' %>>Sort by Less Workers</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="sparkline10-graph">
                                        <div class="static-table-list">
                                            <div class="table-responsive" style="max-height: 100vh; overflow-y: auto;">
                                                <table class="table table-bordered table-hover table-responsive">
                                                    <thead style="position: sticky; top: 0; background: #fff; z-index: 2;">
                                                        <tr class="bg-red text-white">
                                                            <th>Membership No.</th>
                                                            <th>Facility Name</th>
                                                            <th>Facility Type</th>
                                                            <th>Location</th>
                                                            <th>Beneficiary T.</th>
                                                            <th>Caregiver T.</th>
                                                            <th>Reg Date</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <% if(institutions.length > 0) { %>
                                                        <% institutions.forEach( f => { %>
                                                            <% 
                                                                let statusClass = 
                                                                f.status === 'Active' ? 'label-success' :
                                                                f.status === 'Pending' ? 'label-warning' :
                                                                f.status === 'Inactive' ? 'label-danger' : '';
                                                            %>
                                                        <tr>
                                                            <td><%= f.owner_membership %></td>
                                                            <td class="text-uppercase"><%- f.facility_name ? f.facility_name : '<p class="text-danger text-lowercase">Incomplete</p>' %></td>
                                                            <td><%= f.facility_type %></td>
                                                            <td><%= f.f_county %> / <%= f.f_subcounty %> / <%= f.f_area %></td>
                                                            <td><%= parseFloat(f.total_beneficiaries).toLocaleString(undefined, {minimumFractionDigits:0, maximumFractionDigits:0}); %></td>
                                                            <td><%= parseFloat(f.total_caregivers).toLocaleString(undefined, {minimumFractionDigits:0, maximumFractionDigits:0}); %></td>
                                                            <td><%= formatDate(f.reg_date); %></td>
                                                            <td><span class="label <%= statusClass %>"><%= f.status %></span></td>
                                                            <td>
                                                                <div class="button-style-three">
                                                                    <form action="/member/view-facility-details" method="POST">
                                                                        <input type="hidden" name="facility_id" value="<%= f.facility_id %>" required>
                                                                        <button type="submit" class="btn btn-custon-three btn-default btn-xs"><i class="fa fa-ellipsis-h"></i></button>
                                                                    </form>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="10" align="center">No facility found</td>
                                                            </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                            <!-- Pagination -->
                                            <div class="custom-pagination mt-4">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination justify-content-center">

                                                    <% if (currentPage > 1) { %>
                                                        <li class="page-item">
                                                        <a class="page-link" 
                                                            href="?page=<%= currentPage - 1 %>&limit=<%= perPage %>&search=<%= search %>&county=<%= county %>&subcounty=<%= subcounty %>&ward=<%= ward %>&status=<%= status %>&type=<%= type %>&sortBy=<%= sortBy %>">
                                                            Previous
                                                        </a>
                                                        </li>
                                                    <% } %>

                                                    <% paginationRange.forEach(p => { %>
                                                        <% if (p === '...') { %>
                                                        <li class="page-item disabled">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                        <% } else { %>
                                                        <li class="page-item <%= p === currentPage ? 'active' : '' %>">
                                                            <a class="page-link" 
                                                            href="?page=<%= p %>&limit=<%= perPage %>&search=<%= search %>&county=<%= county %>&subcounty=<%= subcounty %>&ward=<%= ward %>&status=<%= status %>&type=<%= type %>&sortBy=<%= sortBy %>">
                                                            <%= p %>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                    <% }); %>

                                                    <% if (currentPage < totalPages) { %>
                                                        <li class="page-item">
                                                        <a class="page-link" 
                                                            href="?page=<%= currentPage + 1 %>&limit=<%= perPage %>&search=<%= search %>&county=<%= county %>&subcounty=<%= subcounty %>&ward=<%= ward %>&status=<%= status %>&type=<%= type %>&sortBy=<%= sortBy %>">
                                                            Next
                                                        </a>
                                                        </li>
                                                    <% } %>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <!-- / Pagination -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Export Facility Modal -->
        <div id="exportFacilityModal" class="modal FullColor-popup-AlertModal fade">
            <div class="modal-dialog modal-lg">
                <form method="GET" action="/member/export-facilities">
                    <div class="modal-content">
                        <div class="modal-header header-color-modal bg-color-4">
                            <h4 class="modal-title">Export Facilities</h4>
                            <div class="modal-close-area modal-close-df">
                                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row mg-b-30">
                            <% if(!subcounty && !ward) { %>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Counties</label>
                                        <select class="chosen-select" multiple="" tabindex="-1" name="county[]" readonly>
											<% counties.forEach(c => { %>
                                                <option value="<%= c %>" <%= countyArray.includes(c) ? 'selected' : '' %>><%= c %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">County</label>
                                        <select class="form-control required" name="county[]" id="exportCounty">
                                            <option value="<%= county || '' %>"><%= county || '' %></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Sub-County *</label>
                                        <select class="form-control required" name="subCounty" id="exportSubcounty">
                                            <option value="<%= subcounty || '' %>"><%= subcounty || 'All' %></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Ward *</label>
                                        <select class="form-control required" name="ward" id="exportWard">
                                            <option value="<%= ward || '' %>"><%= ward || 'All' %></option>
                                        </select>
                                    </div>
                                </div>
                            <% } %>
                            </div>
                            <div class="row mg-b-30">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="status" class="form-label">Status</label>
                                        <select id="exportStatus" name="status" class="form-control">
                                            <option value="<%= status || '' %>"><%= status || 'All' %></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="membershipType" class="form-label">Facility Type</label>
                                        <select id="exportType" name="facilityType" class="form-control">
                                            <option value="<%= type || '' %>"><%= type || 'All' %></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="orderBy" class="form-label">Order By</label>
                                        <select id="exportOrderBy" name="orderBy" class="form-control">
                                            <option value="">None</option>
                                            <option value="reg_date" <%= sortBy==='reg_date' ? 'selected' : '' %>>Sort by Reg Date</option>
                                            <option value="beneficiaries_high" <%= sortBy==='beneficiaries_high' ? 'selected' : '' %>>Sort by More Children</option>
                                            <option value="beneficiaries_low" <%= sortBy==='beneficiaries_low' ? 'selected' : '' %>>Sort by Less Children</option>
                                            <option value="caregivers_high" <%= sortBy==='caregivers_high' ? 'selected' : '' %>>Sort by More Workers</option>
                                            <option value="caregivers_low" <%= sortBy==='caregivers_low' ? 'selected' : '' %>>Sort by Less Workers</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mg-b-30">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="limit" class="form-label">Total Found</label>
                                        <input type="number" id="limit" name="limit" class="form-control" placeholder="e.g. 100" value="<%= total %>" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row mg-b-30">
                                 <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="btn-group">
                                        <div class="form-group data-custon-pick data-custom-mg" id="data_5">
                                            <div class="input-daterange input-group" id="datepicker">
                                                <input type="date" class="form-control" name="startDate" id="exportStartDate"/>
                                                    <span class="input-group-addon">to</span>
                                                <input type="date" class="form-control" name="endDate" id="exportEndDate"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="row mg-b-30">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="exportType" class="form-label">Export Format</label>
                                            <select id="exportType" name="exportType" class="form-control">
                                                <option value="excel">Excel (.xlsx)</option>
                                                <option value="csv">CSV (.csv)</option>
                                            </select>
                                        </div>
                                    </div>
                             </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Export</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Add Facility -->
         <div id="addFacilityModal" class="modal FullColor-popup-AlertModal fade">
            <div class="modal-dialog modal-lg">
                <form method="POST" action="/member/add-facility-details">
                    <div class="modal-content">
                        <div class="modal-header header-color-modal bg-color-4">
                            <h4 class="modal-title">Add Facility</h4>
                            <div class="modal-close-area modal-close-df">
                                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Facility
                                            Name
                                            *</label>
                                        <input name="facilityName" type="text" placeholder="Name of your Facility" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Facility
                                            Type</label>
                                        <select class="form-control required" name="facilityType" required>
                                            <option value="">- select -</option>
                                            <option value="Daycare">Daycare</option>
                                            <option value="Home-Care">Home-Care</option>
                                            <option value="ECD Playgroup">ECD Playgroup
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Setup Type</label>
                                        <select class="form-control required" name="setupType" required>
                                            <option value="">- select -</option>
                                            <option value="School Based">School-based (Within education system)</option>
                                            <option value="Center Based">Center-based (Autonomous rented space)</option>
                                            <option value="Home Based">Home-based (Within your house)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Year Started *</label>
                                        <select name="yearStarted" class="form-control" required>
                                            <option value="">- select -</option>
                                            <% for (let y=1950; y <=2025; y++) { %>
                                                <option value="<%= y %>"><%= y %></option>
                                                <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Registration Number
                                        </label>
                                        <input name="registrationNumber" type="text" placeholder="Reg number" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">License Number</label>
                                        <input name="licenseNumber" type="text" placeholder="License Number" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">County</label>
                                        <select class="form-control required" name="county" id="countySelect" required>
                                            <option value="">- select county -</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Sub-County *</label>
                                        <select class="form-control required" name="subCounty" id="subCountySelect" required>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Ward *</label>
                                        <select class="form-control required" name="ward" id="wardSelect" required>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">No of Male Children</label>
                                        <input name="maleB" type="number" placeholder="Male Beneficiaries" class="form-control" value="0">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">No of Female Children
                                        </label>
                                        <input name="femaleB" type="number" placeholder="Female Beneficiaries" class="form-control"
                                            value="0">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">No of Male Children with disability
                                        </label>
                                        <input name="maleBD" type="number" placeholder="Male Beneficiaries with disability" class="form-control"
                                            value="0">
                                    </div>
                                </div>

                               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">No of
                                            Female Children with
                                            disability
                                        </label>
                                        <input name="femaleBD" type="number" placeholder="Female Beneficiaries with disability" class="form-control"
                                            value="0">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">No of Male
                                            Center Workers
                                        </label>
                                        <input name="maleC" type="number" placeholder="Male Caregivers" class="form-control"
                                            value="0">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">No of
                                            Female Center Workers
                                        </label>
                                        <input name="femaleC" type="number" placeholder="Female Caregivers" class="form-control"
                                            value="0">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Attach One copy of Facility Registration/License *</label>
                                        <input name="facilityDoc" type="file" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

<!-- Bottom script start -->
<%- include('../partials/bottom_script'); %>
<!-- / Bottom script end -->
 <script src="/jsUtils/add-member.js"></script>
</body>
</html>